---
import Hero from "../components/Header/Hero.astro"
import MainLayout from "../layouts/MainLayout.astro"
import Divider from "../components/Divider/Divider.astro"
import CTA from "../components/CTA/CTA.astro"

import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

import FeaturesGallery from "../components/Features/FeaturesGallery.astro";

//

//Getting all Posts
const allPostArticles: CollectionEntry<"post">[] = (
    await getCollection("post")).sort((a: CollectionEntry<"post">, b: CollectionEntry<"post">) =>
		b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

---

<MainLayout title="Home" description="Discover inspiring motorcycle adventures, travel stories, and road experiences from riders around the world.">
	<Hero recentPost={allPostArticles?.[0]}/>
	<p class='pt-20 pl-5 pr-5 text-md sm:mt-0 sm:pt-25 sm:pl-20 sm:pr-20 sm:text-2xl text-center tracking-widest w-full'>
		From late-night breakdowns to bonding over bad roads, Saddled is a garage full of grit, joy, detours, and discoveries. We collect real tales from the road. The quiet rides that spoke the loudest, the wrong turns that went off-course but stayed unforgettable.
This isn't just about speed. It's about connection, to your machine and your journey. It's about all those wild moments when the chaos somehow makes sense.
This is where stories don't just tell a tale, they leave a mark. Our mission is simple - To inspire you to take that unexpected ride on two wheels and experience something you never thought you would.
	</p>
	<Divider title='EXPLORE' />
	<FeaturesGallery allPosts={allPostArticles.slice(1,9)}/>
	<Divider title='SUBSCRIBE' />
	<CTA />

</MainLayout>

