---
import Divider from "../components/Divider/Divider.astro"
import MainLayout from "../layouts/MainLayout.astro"


const backendUrl = import.meta.env.PUBLIC_BACKEND_URL;

---
<MainLayout title="Home" description="Login Page for exploring motorcycling rides.">
    <Divider title={"LOGIN"} />
    <form method="POST" id="form" class='mt-10 mb-10 max-w-[800px] sm:scale-100 mx-auto'>
        <div class='flex flex-col justify-center items-center gap-5'>

        
          
            <input type="email" name="email" placeholder="Email" class='w-[320px] sm:w-[600px] h-[50px] border border-black p-2' required/>
            <input type="password" name="password" placeholder="Password" class='w-[320px] sm:w-[600px] h-[50px] border border-black p-2' />
            <button type='submit' class='w-[320px] sm:w-[600px] h-[50px] border border-black p-2 bg-black text-white text-lg hover:bg-white hover:text-black hover:cursor-pointer'>Login</button>
            <div>Dont Have an Account? <a href="/signup" class="font-semibold">Register</a></div>
            <div id="result"></div>
        </div>
        
      </form>

</MainLayout>


<script is:inline define:vars={{backendUrl}}>

    

    const form = document.getElementById('form');
    const result = document.getElementById('result');

form.addEventListener('submit', function(e) {
    const formData = new FormData(form);
    e.preventDefault();

    const object = Object.fromEntries(formData);
    const json = JSON.stringify(object);

    result.innerHTML = "Please wait..."

    fetch(backendUrl + '/api/user/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
            },
            credentials: 'include',
            body: json
        })
        .then(async (response) => {
            let json = await response.json();
            if (json.success) {
                result.innerHTML = json.message || "Login successful!";
                //console.log(json.token);
                sessionStorage.setItem('token', json.token);
                sessionStorage.setItem('user', JSON.stringify(json.user));
                // Delay redirection to home page
                    setTimeout(() => {
                        window.location.href = '/ridesLogin';
                    }, 1500);
            } else {
                console.log(response);
                result.innerHTML = json.message || "Login failed.";
            }
        })
        .catch(error => {
            console.log(error);
            result.innerHTML = "Something went wrong!";
        })
        .then(function() {
            form.reset();
            setTimeout(() => {
                result.style.display = "none";
            }, 30000);
        });
});
</script>