---

import MainLayout from "../layouts/MainLayout.astro";
import guidelines from "../data/contribution-guidelines.json"

---

<MainLayout title="Privacy & Terms" description="Review Saddled Journal's privacy policy and terms of service to understand how we protect your information and maintain your trust.">
    <div class="mt-12 md:mt-16 bg-black">

    
        <div class='px-4 sm:px-[5vw] md:px-[7vw] lg:px-[9vw] bg-black pt-10 sm:pt-20 flex flex-col items-center justify-center mt-[-0.5px]'>
            <p class='uppercase tracking-widest text-3xl sm:text-4xl text-white'>Privacy & Terms</p>
    
            <p class='text-3xl sm:text-3xl text-white text-center p-10'>To see the world, things dangerous to come to, to see behind walls, draw closer, to find each other, and to feel. That is the purpose of life</p>
            
        </div>
          
          <div class='flex flex-col items-center justify-center bg-black p-20 mt-[-1px]'>
            <hr class='border-none h-[1px] w-1/2 bg-gray-200' />
          </div>
    
         <div class='px-4 sm:px-[5vw] md:px-[7vw] lg:px-[9vw] bg-black flex flex-col items-start justify-center gap-5 mt-[-1px]'>
            <p class='text-xl sm:text-xl text-white'>We take your privacy very seriously. We work hard to make sure that we only use your information in the ways that you want us to. This Privacy Statement explains what information we collect on the TRJ Website at www.trj.com, how and when it is collected, what we use it for now and how we will use it in the future.</p>
              <p class='text-xl sm:text-xl text-white text-start'>In brief, we comply with all Indian national laws and requirements for user privacy, as well as the Indian data protection law (effective as of April 25th 2025).</p> 
              
         </div>
    
         <div class='flex flex-col items-center justify-center bg-black p-20 mt-[-1px]'>
            <hr class='border-none h-[1px] w-1/2 bg-gray-200' />
          </div>
    
         <div class='px-4 sm:px-[5vw] md:px-[7vw] lg:px-[9vw] bg-black flex flex-col items-start justify-center gap-5 mt-[-1px]'>
            <p class='uppercase tracking-widest text-3xl sm:text-3xl text-white'>Email Newsletters</p>
            <p class='text-xl sm:text-xl text-white'>We know that everyone is busy, and nobody likes their email inbox cluttered up with junk mail. We will only send you email newsletters if you choose to receive them from us. Typically we will send one email per week and you have the option to unsubscribe from our email newsletters at any time. We do not share your email address with anyone else. No personal details or email addresses are passed on to third parties nor shared with companies / people outside of the company that operates this website or those working on their behalf.</p>
            <p class='text-xl sm:text-xl text-white'>Email marketing campaigns published by Sidetracked may contain tracking facilities within the actual email. Subscriber activity is tracked and stored in a database for future analysis and evaluation. Such tracked activity may include; the opening of emails, forwarding of emails, the clicking of links within the email content, times, dates and frequency of activity</p>
         </div>
    
         <div class='flex flex-col items-center justify-center bg-black p-20 mt-[-1px]'>
            <hr class='border-none h-[1px] w-1/2 bg-gray-200' />
          </div>
    
        
    
         <!-- <div class='flex flex-col items-center justify-center bg-black p-20 mt-[-1px]'>
            <hr class='border-none h-[1px] w-1/2 bg-gray-200' />
          </div> -->
    
         <div class='px-4 sm:px-[5vw] md:px-[7vw] lg:px-[9vw] bg-black flex flex-col items-start justify-center gap-5 mt-[-1px]'>
            <p class='uppercase tracking-widest text-3xl sm:text-3xl text-white'>Cookies</p>
            <p class='text-xl sm:text-xl text-white'>What are cookies? Websites use small files called cookies to store information about your computer use. A cookie is created by a web page server and is set and retained and can help make interaction between you and a website faster and easier as they remember who you are and the last time you came to the website. Our website uses cookies to distinguish you from other users of our site and to track your actions and the pages you visit while you use our website. This helps us to provide you with a great experience when you browse our site and also allows us to improve our site for you.
                Many websites won't be able to function properly without access to cookies and rest assured cookies do not hold personal information about you, your payment details or your address. They are based on your computer usage and are commonly used online.
            </p>
             
         </div>
    
         <div class='flex flex-col items-center justify-center bg-black p-20 mt-[-1px]'>
            <hr class='border-none h-[1px] w-1/2 bg-gray-200' />
          </div>


          
          
          <div class='px-4 sm:px-[5vw] md:px-[7vw] lg:px-[9vw] bg-black flex flex-col items-start justify-center gap-5 mt-[-1px]'>
            <p class='uppercase tracking-widest text-3xl sm:text-3xl text-white'>Google Analytics</p>
            <p class='text-xl sm:text-xl text-white'>This website uses tracking software to monitor its visitors to better understand how they use it. This software is provided by Google Analytics which uses cookies to track visitor usage. The software will save a cookie to your computer / device in order to track and monitor your engagement and usage of the website, but will not store, save or collect personal information. You can read Google's privacy policy here for further information.</p>  
            <ul class='text-xl sm:text-xl list-disc list-inside p-4 text-white'>
                <li>Remarketing with Google Analytics</li>
                <li>Google Display Network Impression Reporting</li>
                <li>Double Click Platform integrations</li>
                <li>Google Analytics Demographics and Interest Reporting</li>
            </ul>
            <p class='text-xl sm:text-xl text-white'>You may opt-out of the Google Analytics features we use, including Ads Settings, Ad Settings for mobile apps, or via the browser extension provided by Google Analytics' currently available opt-outs.</p>
        </div>

        <div class='flex flex-col items-center justify-center bg-black p-20 mt-[-1px]'>
            <hr class='border-none h-[1px] w-1/2 bg-gray-200' />
          </div>

          <div class='px-4 sm:px-[5vw] md:px-[7vw] lg:px-[9vw] bg-black flex flex-col items-start justify-center gap-5 mt-[-1px]'>
            <p class='uppercase tracking-widest text-3xl sm:text-3xl text-white'>Third Party Sites</p>
            <p class='text-xl sm:text-xl text-white'>Our site may, from time to time, contain links to and from the websites of our partner networks, advertisers and affiliates. If you follow a link to any of these websites, please note that these websites have their own privacy policies and that we do not accept any responsibility or liability for these policies. Please check these policies before you submit any personal data to these websites.</p>
        </div>

        <div class='flex flex-col items-center justify-center bg-black p-20 mt-[-1px]'>
            <hr class='border-none h-[1px] w-1/2 bg-gray-200' />
          </div>

          <div class='px-4 sm:px-[5vw] md:px-[7vw] lg:px-[9vw] bg-black flex flex-col items-start justify-center gap-5 mt-[-1px]'>
            <p class='text-xl sm:text-xl text-white pt-10'>Reach Out to Us @ {guidelines.email}</p>
        </div>


          <div class="p-10">
    
          </div>
        </div>

</MainLayout>